FROM phusion/baseimage:{{docker_phusionbaseimage_version}}

MAINTAINER ScalaMoscow <public@scala.moscow>

RUN \
  apt-get update && \
  apt-get install -y \
    python-pip \
    python-setuptools \
    python-yaml \
    python-crypto \
    python-jinja2 \
    python-paramiko && \
  pip install ansible{{ docker_images_ansible_version }}

CMD ["/sbin/my_init"]
