FROM phusion/baseimage:{{docker_baseimage_version}}

MAINTAINER ScalaMoscow <public@scala.moscow>

CMD ["/sbin/my_init"]

# Clean up APT when done.
RUN apt-get clean && rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
